body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  max-width: 800px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.form-control {
  width: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  margin: 5px;
}
input{
  margin: 20px;
}